default: &default
  adapter: <%= ENV.fetch("DATABASE_ADAPTER") { "sqlite3" } %>
  encoding: <%= ENV.fetch("DATABASE_ENCODING") { "unicode" } %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  database: <%= ENV.fetch("DATABASE_NAME") { "db/shipit_engine.sqlite3" } %>
  host: <%= ENV.fetch("DATABASE_HOST") { "localhost" } %>
  username: <%= ENV.fetch("DATABASE_USERNAME") { "" } %>
  password: <%= ENV.fetch("DATABASE_PASSWORD") { "" } %>
  timeout: <%= ENV.fetch("DATABASE_TIMEOUT") { 5000 } %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
